/* Improve table styling on Read The Docs */

td p { /* fix for <p> in table not lining up */
  margin-bottom: 1px;
  line-height: normal;
}

td, th {
  padding: 2px 5px 4px 5px; /* so that code tags don't overlap borders */
}

th {
  text-align: left;
  background-color: #555;
  color: #f1f2ea;
}

tr:nth-child(odd) td{background-color: #d9dbd9}
tr:nth-child(even) td{background-color: #f1f2ea}

/* Reduce bottom padding of code elements in tables */
.rst-content td code {
  padding: 2px 5px 0px 5px;
}
